.footer{
  padding:20px 20px 0 20px;
  background-color: rgba(204, 201, 201, 0.801);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-img{
  width: 300px;
}
.footer-img img{
  width: 100%;
}
.footer-contacto{
  font-family: 'Roboto',sans-serif;
}
.footer-contacto p{
  margin: 6px;
}
.button {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.button:hover {
  opacity: 1;
}

.button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}
.button-link{
  text-decoration: none;
  color:yellow;
}